#base {
    width: 100%;
    height: 100%;
}

#main {
    background-color: #AAAAAAFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    flex-basis: 150px;
    background-color: #22AAAAFF;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}

#songlistheader {
    background-color: #EEEEEEFF;
    width: 100%;
    height: 35px;
}

#songlist {
    background-color: #222222FF;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.headedge {
    width: 150px;
    height: 100%;
    background-color: #00FF00FF;
}

.headcenter {
    width: 500px;
    height: 100%;
    background-color: #0000FFFF;
}

.stretch {
    width: 100%;
    height: 100%;
    background-color: #FF0000Ff;
}

#playbtn {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 15px;
    background-image: url("play.png");
    background-color: #556655FF;
}

#volbtn {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 15px;
    background-image: url("play.png");
    background-color: #556655FF;
}

#display {
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 15px;
    background-color: #AAAAAAFF;
}
#search {
    width: 150px;
    height: 150px;
    background-color: #998899FF;
}

#visuals {
    position: absolute;
    margin: auto;
    width: 700px;
    height: 150px;
    background-color: #AA00AAFF;
    margin: auto;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

#visuleft {
    width: 300px;
    height: 150px;
    background-color: #223322FF;
    border-radius: 15px;
    right: 20px;
    bottom: 25px;
}

#visuright {
    width: 300px;
    height: 150px;
    background-color: #223322FF;
    border-radius: 15px;
    left: 20px;
    bottom: 25px;
}

#video {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    bottom: 0px;
}

#footer {
    position: absolute;
    bottom: 10px;
    background-color: #22AAAA11;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}
    
.footedge {
    width: 100%;
    height: 100%;
    background-color: #00FF0011;
}

.footcenter {
    width: 200px;
    height: 100%;
    background-color: #0000FF11;
}
