#base {
    width: 100%;
    height: 100%;
}

#main {
    display: none;
    width: 100%;
    height: 100%;
}

#songs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#songlisttop {
    height: 215px;
    width: 100%;
}

#songlist {
    height: 100%;
    display: none;
    width: 100%;
    overflow: scroll;
}

#header {
    background-color: #DEDEDEFF;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;    
    border-radius: 3px;
    box-shadow: 3px;
}

#closebtn {
    background-color: #EEEEEEFF;
    width: 30px;
    height: 30px;
    right: 185px;
    top: 60px;
    border-radius: 17px;
    box-shadow: 3px;
}

#maxbtn {
    background-color: #EEEEEEFF;
    width: 30px;
    height: 30px;
    top:60px;
    left: 185px;
    border-radius: 17px;
    box-shadow: 3px;
}

#closeicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
}

#maxicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
}

#filterbar {
    top: 150px;
    width: 100%;
    height: 35px;
    border-radius: 3px;
    box-shadow: 3px;
    background-color: #FFFFFFFF;
    display: flex;
}

#clearbtn {
    top: 8px;
    width: 30px;
    height: 20px;
    right: 125px;
    background-color: #EFEFEFFF;
    border-radius: 10px;
    box-shadow: 3px;
}

#genrebtnbck {
    top: 10px;
    right: 20px;
    width: 120px;
    height: 30px;
    background-color: #EFEFEFFF;
    border-radius: 10px;
    box-shadow: 3px;
}

#genrebtn {
    width: 100%;
    height: 100%;
}

#messagesbtnbck {
    top: 10px;
    left: 20px;
    width: 120px;
    height: 30px;
    background-color: #EFEFEFFF;
    border-radius: 10px;
    box-shadow: 3px;
}

#messagesbtn {
    width: 100%;
    height: 100%;
}

#timebck {
    top: 10px;
    margin: auto;
    width: 200px;
    height: 30px;
    background-color: #FFFFFFFF;
    border-radius: 10px;
    box-shadow: 3px;
}

#minute {
    width: 50%;
    height: 100%;
    top: 1px;
    left: 0px;
    background-color: #FF0000FF;
}
#second {
    width: 50%;
    height: 100%;
    top: 1px;
    right: 0px;
    background-color: #FF0000FF;
}

#songbck {
    top: 50px;
    margin: auto;
    width: 460px;
    height: 90px;
    background-color: #FFFFFFFF;
    border-radius: 15px;
    box-shadow: 3px;
}

#song {
    top: 0px;
    width: 100%;
    height: 30px;
}
#artist {
    top: 30px;
    width: 100%;
    height: 30px;
}
#info {
    top: 60px;
    width: 100%;
    height: 30px;
}

#artistbtn {
    width: 150px;
    height: 100%;
    background-color: #EFEFEFFF;
}

#filterfield {
    width: 100%;
    height: 100%;
}

#genrelist {
    display: none;
    width: 230px;
    height: 100%;
    left: 0px;
    background-color: #FFFFFFFF;
}

#artistlist {
    display: none;
    width: 230px;
    height: 100%;
    right: 0px;
    background-color: #FFFFFFFF;
}

#songlistheader {
    background-color: #222222FF;
    top: 185px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    box-shadow: 3px;
}

.headedge {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #00FF000A;
    display: none;
    align-items: center;
}

.headcenter {
    width: 500px;
    height: 100%;
    display: none;
}

.stretch {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #FF00000A;
}

#prevbtn {
    width: 30px;
    height: 30px;
    right: 15px;
    top: 20px;    
    border-radius: 17px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#previcon {
    width: 30px;
    height: 30px;
    background-image: url("prev.png");
}

#nextbtn {
    width: 30px;
    height: 30px;
    right: 15px;
    top: 100px;    
    border-radius: 17px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#nexticon {
    width: 30px;
    height: 30px;
    background-image: url("next.png");
}

#shufflebtn {
    width: 30px;
    height: 30px;
    right: 15px;
    top: 60px;    
    border-radius: 17px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#shuffleicon {
    width: 30px;
    height: 30px;
    background-image: url("shuffle.png");
}


#settingsbtn {
    width: 30px;
    height: 30px;
    left: 15px;
    top: 20px;    
    border-radius: 17px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#settingsicon {
    width: 30px;
    height: 30px;
    background-image: url("settings.png");
}

#aboutbtn {
    width: 30px;
    height: 30px;
    left: 15px;
    top: 60px;    
    border-radius: 17px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#abouticon {
    width: 30px;
    height: 30px;
    background-image: url("donate.png");
}

#eventsbtn {
    width: 30px;
    height: 30px;
    left: 15px;
    top: 100px;    
    border-radius: 17px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#eventsicon {
    width: 30px;
    height: 30px;
    background-image: url("editor.png");
}

#loopbtn {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 20px;    
    border-radius: 8px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#loopicon {
    width: 40px;
    height: 40px;
    background-image: url("loop.png");
}

#playbtn {
    width: 100px;
    height: 100px;
    right: 65px;
    padding: 15px;
}

#playicon {
    width: 40px;
    height: 40px;
    top: 30px;
    left: 32px;
    background-image: url("play.png");
}

#pauseicon {
    width: 40px;
    height: 40px;
    top: 30px;
    left: 32px;
    background-image: url("pause.png");
}

#volbtn {
    width: 100px;
    height: 100px;
    left: 65px;
    padding: 15px;
}

#muteicon {
    width: 40px;
    height: 40px;
    top: 30px;
    left: 28px;
    background-image: url("mute.png");
}

#unmuteicon {
    width: 40px;
    height: 40px;
    top: 30px;
    left: 28px;
    background-image: url("unmute.png");
}

#display {
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 15px;
    background-color: #EEEEEEFF;
    box-shadow: 3px;
}

#messagelistback {
    width: 460px;
    height: 800px;
    top: 50px;
    margin: auto;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 3px;
}

#messagelist {
    display: mask;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 2px;
}


#filterlistback {
    width: 468px;
    height: 800px;
    top: 50px;
    margin: auto;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 3px;
}

#filterlist {
    display: mask;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 2px;
}

#ideditorback {
    width: 500px;
    height: 500px;
    top: 300px;
    margin: auto;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 3px;
}

#ideditor {
    display: mask;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 2px;
}

#settingsback {
    width: 400px;
    height: 400px;
    top: 350px;
    margin: auto;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 3px;
}

#settings {
    display: mask;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 2px;
}

#aboutback {
    width: 400px;
    height: 400px;
    top: 350px;
    margin: auto;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 3px;
}

#about {
    display: mask;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #FFFFFFFF;
    box-shadow: 2px;
}


#search {
    width: 150px;
    height: 150px;
    background-color: #998899FF;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
}
    
.footedge {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #00FF0001;
}

.footcenter {
    display: none;
    width: 150px;
    height: 100%;
    background-color: #0000FF01;
}

#visuleft {
    width: 300px;
    height: 150px;
    background-color: #000000FF;
    border-radius: 15px;
    right: 10px;
    box-shadow: 3px;
}

#visuright {
    width: 300px;
    height: 150px;
    background-color: #000000FF;
    border-radius: 15px;
    left: 10px;
    box-shadow: 3px;
}

#visuvideo {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    background-color: #000000FF;
    box-shadow: 3px;
}
